{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Havale Science Academy - Manage Notes Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'static/style3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="{% static 'static/script.js' %}"></script>
</head>
<body>
      <!-- Navigation -->
        <nav class="navbar">
            <div class="container">
            <div class="logo">
                <img id='admin-logoImg' src="{% static 'static/logo.png' %}" alt="Logo">
                <span>Havale Science Academy</span>
            </div>

            <div class="nav-links" id="navLinks">
                <a href="/profile/">Students Data</a>
                <a href="/teachersData/">Teachers Data</a>
                <a href="/manageEvents/">Manage Event Gallery</a>
                <a href="/manageNotes/">Manage Notes</a>
                <a href="/messageModule/">Message Module</a>
            </div>

            <button style="color:white;" class="mobile-menu-btn" id="mobileMenuBtn">
                <i class="fas fa-bars"></i>
            </button>

            <a href="/logout/" class="btn btn-primary enroll-btn">Logout</a>
            </div>
        </nav>

        <!-- Mobile Menu -->
        <div class="mobile-menu" id="mobileMenu">
            <div class="mobile-menu-container">
            <div class="mobile-menu-header">
                <div class="logo">
                <i class="fas fa-book-open"></i>
                <span>Havale Science Academy</span>
                </div>
                <button class="close-menu-btn" id="closeMenuBtn">
                <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="mobile-nav-links">
                <a href="#home">Home</a>
                <a href="#courses">Courses</a>
                <a href="#about">About</a>
                <a href="#testimonials">Event Gallery</a>
                <a href="#testimonials">Notes</a>
                <a href="#contact">Contact</a>
            </div>
            <a href="#contact" class="btn btn-primary mobile-enroll-btn">Login</a>
            </div>
        </div>


    <main>
        
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>


        <div style="height:50px;"></div>
        {% for note in notes %}
        <div style="height:400px; width:260px;">
            <img src="{% static 'static/logo.png' %}#zoom=30" type="application/pdf" width="150px" height="200px" ></img>
            <a href="{{ note.notesFile.url }}" target="_blank">Open PDF</a>
            <p>year: {{ note.std }}</p>
            <p>{{ note.subject }}</p>
            <p>{{ note.chapter }}</p>
            <div style="Height:10px"></div>
            <form action="{% url 'deleteNotes' note.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" style="background-color: red; color: white; border: none; padding: 5px 10px; cursor: pointer;">
                    Delete
                </button>
            </form>
        </div>
        {% endfor %}
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
    
</body>
</html>